<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
        .centered {
            text-align: center;
            color: olivedrab;
        }
        .blogg {
            font-family: Arial, Helvetica, sans-serif;
            color: steelblue;
        }
        .error {
            color: indianred;
        }
        </style>
    </head>
    <body>
        <div>
            <a href="/blog">Main Blog Page</a>     
            <a href="/newpost">Add a Blog Entry</a>
        </div>
        <div class="centered">
            <h1>{{title}}</h1>
        </div>

        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li class='error'>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>